# Python
__pycache__/
*.py[cod]
*$py.class


# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env
.env.*

# Virtual Environment
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
htmlcov/

# Misc
*.swp